.library {
    display: flex;
    flex-direction: column;
}

.library-head {
    margin: auto;
    padding: 2%;
    font-size: 2em;
}

.books {
    display: flex;
}

.book {
    border: 2px solid black;
    padding: 2%;
}


