.library {
    display: flex;
    flex-direction: column;
}

.library-head {
    margin: auto;
    padding: 2%;
    font-size: 2.5em;
}

.add-book {
    width: 250px;
    margin: auto;
}

.books {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.book {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 2%;
    width: 285px;
}

.title {
    font-size: 1.75em;
    align-self: center;
}

.book-buttons {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 220px;
}

.book-buttons button {
    width: 95px;

}

button {
    padding: 5px;
}

